@tailwind base;
@tailwind components;
@tailwind utilities;

/* ここにカスタムCSSを追加 */
@property --shimmer {
  syntax: "<angle>";
  inherits: false;
  initial-value: 33deg;
}

@keyframes shimmer {
  0% {
    --shimmer: 0deg;
  }
  100% {
    --shimmer: 360deg;
  }
}

@keyframes shine {
  /* アニメーションの定義 */
}

@keyframes text {
  /* アニメーションの定義 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* その他のカスタムスタイル */